@function is-cool-color($color) {
  @return hue($color) < 300 and hue($color) > 120;
}

@function is-high-key-value($color) {
  @return hue($color) > 30 and hue($color) < 140;
}

@function harmonious-mix($mix, $base) {
  @if (is-cool-color($mix)){
    @if is-high-key-value($base) {
      @return mix($mix, $base, 11%);
    }
    @else {
      @return mix($mix, $base, 16%);
    }
  }
  @else {
    @if is-high-key-value($base) {
      @return mix($mix, $base, 13%);
    }
    @else {
      @return mix($mix, $base, 23%);
    }
  }
}

/*
* Colors
* Special colors, primary color, etc.
*/
$primary: hsl(4, 100%, 50%);
$secondary: complement($primary);
$temp: $primary;

$primary: harmonious-mix($secondary, $primary);
$secondary: harmonious-mix($temp, $secondary);

$primary-neutral: mix($primary, $secondary, 75%);
$primary-highlight: lighten($primary-neutral, 30%);
$primary-shadow: darken($primary-neutral, 30%);

$secondary-neutral: mix($secondary, $primary, 75%);
$secondary-highlight: lighten($secondary-neutral, 30%);
$secondary-shadow: darken($secondary-neutral, 30%);

$light: hsl(0, 0%, 90%);
$light-highlight: lighten($light, 7%);

$dark: hsl(0, 0%, 10%);
